<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger Orderer</title>
    <link rel="stylesheet" href="../static/style.css"> 
</head>   
<body>
    <h1>Welcome to Four Guys</h1> 
    <button class="order-button"><a href="/order">Menu</a></button>
    <div class="container">
    <p>At are fast food store we specialize in burgers and sides</p> 
    <p><a href="/order-completed">Order Completed Confirmation Page</a></p>
    </div>
</body>
</html>