<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger Orderer</title>
    <link rel="stylesheet" href="../static/style.css"> 
</head>   
<body>
    <h1>Welcome to Four Guys</h1> 
    <a href="/order">
        <button class="order-button">Menu</button>
    </a>
    <div class="container">
        <p>We specialize in burgers and sides</p> 
        <p><a href="/order-completed">Order Completed Confirmation Page</a></p>
        <p><a href="/toppings">Database fetch example page</a></p>
    </div>
</body>
</html>