<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger Orderer</title>
    <link rel="stylesheet" href="../static/style.css"> 
</head>   
<body>
    <div class="container">
    <h1>Welcome to burger Orderer</h1> 
    <p>This is the place where we will make are burger order. And this is just a test to see if it works</p> 
    <p>A link to github just because <a href="https://github.com/r4andom1/BurgerOrder/tree/main">Github</a> </p>
    <a href="/order">Order Something</a>
    <a href="/order-completed">Order Completed Confirmation Page</a>
    </div>

</body>
</html>