<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='order-page.css') }}"> 
    <title>Order Something!</title>
    <h1>Order Something!</h1>
    <p><a href="/">Go Back</a></p>

    <div class="flex-wrapper">
        <div class="flex-container">
            <a href="" class="catagory">
                <img src="images/meat.jpg" alt="Meat Burger"/>Kött
            </a>
            <a href="" class="catagory">Kyckling</a>
            <a href="" class="catagory">Fisk</a>
            <a href="" class="catagory">Vegan</a>
            <a href="" class="catagory">Tillbehör</a>
            <a href="" class="catagory">Dryck</a>
        </div>
    </div>
</head>
<body>
    <p><a href="/order/category">Categories</a></p>
</body>
</html>