<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/order-completed.css">
</head>
<body>
    <div class="receipt-wrapper">
        <div class="receipt-container">
            <h1>Four Guys</h1>
            <h3>Order Completed</h3>
            <div class="date-time-container">
                <span class="date">12-01-2020</span>
                <span class="time">12:14 PM</span>
            </div>
            <span class="divider"></span>
            <div class="column-container">
                <p>Qty</p>
                <p>Item</p>
                <p>Price</p>
            </div>

            <div class="order-item">
                <p>1</p>
                <p>Double Cheese Burger</p>
                <p>200:-</p>
            </div>

            <div class="order-item">
                <p>1</p>
                <p>French Fries</p>
                <p>100:-</p>
            </div>
            
            <span class="divider"></span>

            <div class="subtotal">
                <p>Subtotal:</p>
                <p>300:-</p>
            </div>
            <div class="tax">
                <p>Tax:</p>
                <p>30:-</p>
            </div>
            <div class="tip">
                <p>Tip (5%):</p>
                <p>330:-</p>
            </div>

            <span class="divider"></span>
            
            <div class="total">
                <p><b>Total:</b></p>
                <p><b>1330:-</b></p>
            </div>
    </div>
    


</body>
</html>