<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/order-completed.css">
</head>
<body>
    <div class="receipt-wrapper">
        <div class="receipt-container">
            <h1>Four Guys</h1>
            <h3>Order Completed</h3>
            <div class="date-time-container">
                <span class="date">{{ current_date }}</span>
                <span class="time">{{ current_time }}</span>
            </div>
            
            <span class="divider"></span>
            <div class="column-container">
                <p>Qty</p>
                <p>Item</p>
                <p>Price</p>
            </div>


            {% for item in cart['products'] %}
                <div class="order-item">
                    <p>{{ item.quantity }}</p>
                    <p>{{ item.name }}</p>
                    <p>$ {{ item.price }}</p>
                </div>
            {% endfor %}
            
            <p style="font-size: 0.7rem; align-self: flex-start; padding-left: 1.5rem">Modifications are included in subtotal</p>
            <span class="divider"></span>

            <div class="subtotal">
                <p>Subtotal:</p>
                <p>$ {{ cart['total_price'] | round(2) }}</p>
            </div>
            <div class="tax">
                <p>Tax:</p>
                <p>$ {{ (cart['total_price'] * 0.1) | round(2) }}</p>
            </div>
            <div class="tip">
                <p>Tip (5%):</p>
                <p>$ {{ (cart['total_price'] * 0.05) | round(2) }}</p>
            </div>

            <span class="divider"></span>
            
            <div class="total">
                <p><b>Total:</b></p>
                <p><b>$ {{ (cart['total_price'] * 0.05 + cart['total_price'] * 0.1 + cart['total_price']) | round(2)}} </b></p>
            </div>
    </div>
    <a href="/cart/clear" style="position: absolute; top: 20px; left: 20px;">Back to website</a>
    


</body>
</html>