<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='order-page.css') }}"> 
    <title>Order Something!</title>
    <h1>Order Something!</h1>
    <p><a href="/">Go Back</a></p>

    <div class="flex-wrapper">
        <div class="flex-container">
            <div>Kött</div>
            <div>Kyckling</div>
            <div>Fisk</div>
            <div>Vegan</div>
            <div>Tillbehör</div>
            <div>Dryck</div>
        </div>
    </div>

</head>
<body>
    <p><a href="/order/category">categorys</a></p>
</body>
</html>