* {
    text-align: center;
    border: 1px solid red;
    font-size: 1.2em;
    color: #495057;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #212529;
}

h1 {
    color: hsl(271, 63%, 61%);
    text-align: center;
    padding: 20px;
    background-color: hsl(0, 0%, 0%);
    border-bottom: 2px solid hsl(271, 100%, 35%);
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 60vw;
    flex-wrap: wrap;
    
}

.flex-wrapper {
    display: flex;
    justify-content: center;
}

.flex-container div {
    flex: 1 0 33.33%;
    aspect-ratio: 1/1;
}
a {
    color: #007bff;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}
