* {
    text-align: center;
    font-size: 1.2em;
    color: #495057;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #212529;
}

h1 {
    color: hsl(271, 63%, 61%);
    text-align: center;
    padding: 20px;
    background-color: hsl(0, 0%, 0%);
    border-bottom: 2px solid hsl(271, 100%, 35%);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

.flex-container {
    display: flex;
    background-color: red;
    width: 600px;
    flex-wrap: wrap;
    margin: auto;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 30px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    width: 200px;
  }

a {
    color: #007bff;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}
