@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #212529;
}

h1 {
    color: hsl(0, 0%, 0%);
    text-align: center;
    padding: 20px;
    border-bottom: 3px solid hsl(0, 0%, 0%);
    font-family: 'Protest Guerrilla', sans-serif;
    font-size: 3rem;
}

p {
    text-align: center;
    font-size: 1.2em;
    color: #495057;
}

.order-button {
    border: none;
    color: green;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 45%;
    cursor: pointer;
    background-color: rgb(62, 255, 62);
}
.order-button:hover {
    background-color: #c0baba;
    color: black;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

a {
    color: #007bff;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}
